<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>

  <!-- META ============================================= -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="keywords" content="" />
  <meta name="author" content="" />
  <meta name="robots" content="" />

  <!-- DESCRIPTION -->
  <meta name="description" content=" HTML Template" />

  <!-- OG -->
  <meta property="og:title" content=" HTML Template" />
  <meta property="og:description" content="EduChamp :  Template" />
  <meta property="og:image" content="" />
  <meta name="format-detection" content="telephone=no">

  <!-- FAVICONS ICON ============================================= -->
  <link rel="icon" th:href="@{common/images/favicon.icon}" type="image/x-icon" />
  <link rel="shortcut icon" type="image/x-icon" th:href="@{common/images/favicon.png}" />

  <!-- PAGE TITLE HERE ============================================= -->


  <!-- MOBILE SPECIFIC ============================================= -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!--[if lt IE 9]>
  <script th:src="@{common/js/html5shiv.min.js}"></script>
  <script th:src="@{common/js/respond.min.js}"></script>
  <![endif]-->

  <!-- All PLUGINS CSS ============================================= -->
  <link rel="stylesheet" type="text/css" th:href="@{common/css/assets.css}">

  <!-- TYPOGRAPHY ============================================= -->
  <link rel="stylesheet" type="text/css" th:href="@{common/css/typography.css}">

  <!-- SHORTCODES ============================================= -->
  <link rel="stylesheet" type="text/css" th:href="@{common/css/shortcodes/shortcodes.css}">

  <!-- STYLESHEETS ============================================= -->
  <link rel="stylesheet" type="text/css" th:href="@{common/css/style.css}">
  <link class="skin" rel="stylesheet" type="text/css" th:href="@{common/css/color/color-1.css}">

</head>