.header-left {
  width: calc(50% - 15px);
}
.header-cont {
  display: flex;
  align-items: center;
}
.header-cont li {
  display: flex;
  align-items: center;
  margin-right: 47px;
  font-size: 12px;
  font-family: "Righteous", sans-serif;
}
.header-cont li:last-child {
  margin-right: 0;
}
.header-cont li i {
  margin-right: 15px;
  font-size: 14px;
  color: var(--primary);
}
@media (max-width: 1199px) {
  .header-fitness .nav-list > li {
    margin-left: 20px;
  }

  .header-cont li {
    margin-right: 40px;
  }
  .header-cont li i {
    margin-right: 10px;
  }
}
