<!DOCTYPE html>
<html lang="zxx">

<head>
    <meta charset="UTF-8">
    <title>Fitmax - Blog</title>
    <!-- =================== META =================== -->
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="format-detection" content="telephone=no">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="shortcut icon" href="static/img/favicon.png">
    <!-- =================== STYLE =================== -->
    <link rel="stylesheet" href="static/assets/css/bootstrap-grid.css">
    <link rel="stylesheet" href="static/assets/css/font-awesome.min.css">
    <link rel="stylesheet" href="static/assets/css/style.css">
</head>

<body id="home">
<!--================ PRELOADER ================-->
<div class="preloader-cover">
    <div id="cube-loader">
        <div class="caption">
            <div class="cube-loader">
                <div class="cube loader-1"></div>
                <div class="cube loader-2"></div>
                <div class="cube loader-4"></div>
                <div class="cube loader-3"></div>
            </div>
        </div>
    </div>
</div>
<!--============== PRELOADER END ==============-->

<!-- ================= HEADER ================= -->
<div th:include="fragments/header.html"></div>
<!-- =============== HEADER END =============== -->

<!-- =============== HEADER-TITLE =============== -->
<section class="s-header-title" style="background-image: url(static/img/bg-1-min.png);">
    <div class="container">
        <h1 class="title">News</h1>
        <ul class="breadcrambs">
            <li><a href="index-2.html">Home</a></li>
            <li>News</li>
        </ul>
    </div>
</section>
<!-- ============= HEADER-TITLE END ============= -->

<!--===================== S-NEWS =====================-->
<section class="s-news">
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-9 blog-cover">
                <div class="post-item-cover">
                    <div class="post-header">
                        <div class="post-thumbnail">
                            <a href="single-blog.html">
                                <img src="assets/img/blog-1.jpg" alt="img">
                            </a>
                        </div>
                    </div>
                    <div class="post-content">
                        <div class="meta">
                            <span class="post-by"><i class="fa fa-user" aria-hidden="true"></i><a href="#">By Rovadex</a></span>
                            <span class="post-date"><i class="fa fa-calendar" aria-hidden="true"></i>October 31, 2019</span>
                            <span class="post-category"><i class="fa fa-tag" aria-hidden="true"></i><a href="#">Fitness</a></span>
                        </div>
                        <h2 class="title"><a href="single-blog.html">Sed ut perspiciatis unde omnis</a></h2>
                        <div class="text">
                            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt...</p>
                        </div>
                    </div>
                    <div class="post-footer">
                        <div class="meta">
                            <span class="post-comment"><i class="fa fa-comment" aria-hidden="true"></i><a href="#">2 Comments(s)</a></span>
                            <span class="post-tags"><i class="fa fa-hashtag" aria-hidden="true"></i><a href="#">Aenean</a><a href="#">Mattis</a></span>
                        </div>
                        <a href="single-blog.html" class="btn"><span>read more</span></a>
                    </div>
                </div>
                <div class="post-item-cover">
                    <div class="post-header">
                        <div class="post-thumbnail">
                            <a href="single-blog.html">
                                <img src="assets/img/blog-2.jpg" alt="img">
                            </a>
                        </div>
                    </div>
                    <div class="post-content">
                        <div class="meta">
                            <span class="post-by"><i class="fa fa-user" aria-hidden="true"></i><a href="#">By Rovadex</a></span>
                            <span class="post-date"><i class="fa fa-calendar" aria-hidden="true"></i>October 31, 2019</span>
                            <span class="post-category"><i class="fa fa-tag" aria-hidden="true"></i><a href="#">Lifting</a></span>
                        </div>
                        <h2 class="title"><a href="single-blog.html">Creating a WordPress Blog</a></h2>
                        <div class="text">
                            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt...</p>
                        </div>
                    </div>
                    <div class="post-footer">
                        <div class="meta">
                            <span class="post-comment"><i class="fa fa-comment" aria-hidden="true"></i><a href="#">2 Comments(s)</a></span>
                            <span class="post-tags"><i class="fa fa-hashtag" aria-hidden="true"></i><a href="#">Aenean</a><a href="#">Mattis</a></span>
                        </div>
                        <a href="single-blog.html" class="btn"><span>read more</span></a>
                    </div>
                </div>
                <div class="post-item-cover">
                    <blockquote>
                        <p>“At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias”</p>
                        <cite>by <a href="#">Kerry Ashman</a></cite>
                    </blockquote>
                </div>
                <div class="post-item-cover">
                    <div class="post-content">
                        <div class="meta">
                            <span class="post-by"><i class="fa fa-user" aria-hidden="true"></i><a href="#">By Rovadex</a></span>
                            <span class="post-date"><i class="fa fa-calendar" aria-hidden="true"></i>October 31, 2019</span>
                            <span class="post-category"><i class="fa fa-tag" aria-hidden="true"></i><a href="#">Fitness</a></span>
                        </div>
                        <h2 class="title"><a href="single-blog.html">Sed ut perspiciatis unde omnis</a></h2>
                        <div class="text">
                            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt...</p>
                        </div>
                    </div>
                    <div class="post-footer">
                        <div class="meta">
                            <span class="post-comment"><i class="fa fa-comment" aria-hidden="true"></i><a href="#">2 Comments(s)</a></span>
                            <span class="post-tags"><i class="fa fa-hashtag" aria-hidden="true"></i><a href="#">Aenean</a><a href="#">Mattis</a></span>
                        </div>
                        <a href="single-blog.html" class="btn"><span>read more</span></a>
                    </div>
                </div>
                <div class="pagination-cover">
                    <ul class="pagination">
                        <li class="pagination-item item-prev"><a href="#"><i class="fa fa-angle-left" aria-hidden="true"></i></a></li>
                        <li class="pagination-item active"><a href="#">1</a></li>
                        <li class="pagination-item"><a href="#">2</a></li>
                        <li class="pagination-item"><a href="#">3</a></li>
                        <li class="pagination-item"><a href="#">4</a></li>
                        <li class="pagination-item"><a href="#">5</a></li>
                        <li class="pagination-item item-next"><a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i></a></li>
                    </ul>
                </div>
            </div>
            <!--================= SIDEBAR =================-->
            <div class="col-12 col-lg-3 sidebar">
                <a href="#" class="btn btn-sidebar"><span>Widgets</span></a>
                <ul class="widgets">
                    <!--=========== WIDGET-SEARCH ===========-->
                    <li class="widget widget-search">
                        <h3 class="title">Search</h3>
                        <form class="search-form">
                            <input class="inp-form" type="email" name="search" placeholder="Search">
                            <button type="submit" class="btn-form"><i class="fa fa-search" aria-hidden="true"></i></button>
                        </form>
                    </li>
                    <!--========= WIDGET-SEARCH END =========-->
                    <!--========= WIDGET-CATEGORIES =========-->
                    <li class="widget widget-categories">
                        <h3 class="title">Categories</h3>
                        <ul>
                            <li><a href="#">Training</a></li>
                            <li><a href="#">Courses</a></li>
                            <li><a href="#">Conferences</a></li>
                            <li><a href="#">Development</a></li>
                            <li><a href="#">UI/UX Designer</a></li>
                        </ul>
                    </li>
                    <!--======= WIDGET-CATEGORIES END =======-->
                    <!--======== WIDGET-RECENT-POSTS ========-->
                    <li class="widget widget-recent-posts">
                        <h3 class="title">Recent Blog Posts</h3>
                        <ul>
                            <li>
                                <a href="#">Mobile App Design: From Beginner to Intermediate</a>
                                <div class="date"><i class="fa fa-calendar" aria-hidden="true"></i>Dec 27, 2019 at 5:47 pm</div>
                            </li>
                            <li>
                                <a href="#">Et harum quidem rerum facilis est et expedita distinctio</a>
                                <div class="date"><i class="fa fa-calendar" aria-hidden="true"></i>Dec 17, 2018 at 5:47 pm</div>
                            </li>
                            <li>
                                <a href="#">Nam libero tempore, cum soluta nobis est eligendi optio</a>
                                <div class="date"><i class="fa fa-calendar" aria-hidden="true"></i>Dec 8, 2018 at 5:47 pm</div>
                            </li>
                        </ul>
                    </li>
                    <!--====== WIDGET-RECENT-POSTS END ======-->
                </ul>
            </div>
            <!--=============== SIDEBAR END ===============-->
        </div>
    </div>
</section>
<!--=================== S-NEWS END ===================-->

<!-- ================== FOOTER ================== -->
<div th:include="fragments/footer.html"></div>
<!-- ================ FOOTER END ================ -->

<!--=================== TO TOP ===================-->
<a class="to-top" href="#home">
    <i class="fa fa-chevron-up" aria-hidden="true"></i>
</a>
<!--================= TO TOP END =================-->

<!--=================== SCRIPT	===================-->
<script src="static/js/jquery-2.2.4.min.js"></script>
<script src="static/js/scripts.js"></script>
</body>

</html>