<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<header class="header">
    <a href="#" class="nav-btn">
        <span></span>
        <span></span>
        <span></span>
    </a>
    <div class="top-panel">
        <div class="container">
            <div class="header-left">
                <ul class="header-cont">
                    <li><i class="fa fa-phone" aria-hidden="true"></i><a >1-800-488-6040</a></li>
                    <li><i class="fa fa-clock-o" aria-hidden="true"></i>Mon - Fri: 5:00AM - 21:00PM
                    </li>
                </ul>
            </div>
            <div class="header-right">
                <form class="search-form">
                    <input type="search" class="search-form__field" placeholder="Search" value="" name="s">
                    <button type="submit" class="search-form__submit"><i class="fa fa-search" aria-hidden="true"></i>
                    </button>
                </form>
                <div class="btn-group mx-2">
                    <a class="btn-sm dropdown-toggle p-2" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="fa fa-user"></i>
                    </a>
                    <ul class="dropdown-menu" sec:authorize="isAuthenticated()">
                        <li sec:authorize="hasAnyAuthority('ROLE01','ROLE02','ROLE03')"><a class="dropdown-item"  th:href="@{/dashboard}" >Dashboard</a></li>
                        <li><a class="dropdown-item"  th:href="@{/user/updateprofile}" >Profile</a></li>
                        <li><a class="dropdown-item"  th:href="@{/user/myregistrations}">My Registration</a></li>
                        <li><a class="dropdown-item" th:href="@{/user/profilechangepassword}">Change Password</a></li>
                        <li><a class="dropdown-item" href="/logout">Logout</a></li>
                    </ul>
                    <ul class="dropdown-menu" sec:authorize="!isAuthenticated()">
                        <li><a class="dropdown-item" href="/login">Login</a></li>
                        <li><a class="dropdown-item" href="/register">Register</a></li>
                    </ul>
                </div>

            </div>
        </div>
    </div>
    <div class="header-menu">
        <div class="container">
            <nav class="nav-menu">
                <ul class="nav-list">
                    <li><a href="/" class="logo"><img th:src="@{/img/logo.svg}" alt="logo"></a></li>
                    <li><a href="/studio">Studio</a></li>
                    <li><a href="/homepage/service">Services </i></a>
                    </li>
                    <li class="dropdown">
                        <a href="#">Trainer <i class="fa fa-caret-down"></i></a>
                        <ul>
                            <li><a th:href="@{/user/listpt}">Personal Trainer</a></li>
                            <li><a href="/blog">BLOG</a></li>
                        </ul>
                    </li>
                    <li><a href="/schedule">SCHEDULE</a></li>
                    <li><a href="/blog">Blog</a></li>
                </ul>
            </nav>
        </div>
    </div>
    <style>
        .dropdown-menu {
            background-color: #202020;
        }

        .dropdown-menu .dropdown-item {
            color: #fff;
        }

        .dropdown-menu .dropdown-item:hover {
            color: #f23849;
            background-color: #202020;
        }
    </style>
</header>