<html>
<section class="s-training-schedule" style="background-image: url(/img/bg-table-1.svg);">
    <div class="container">
        <h2 class="title-decor">Training <span>Schedule</span></h2>
        <p class="slogan">Maecenas consequat ex id lobortis venenatis. Mauris id erat enim. Morbi dolor dolor, auctor
            tincidunt lorem ut, venenatis dapibus miq.</p>
        <div class="training-schedule-cover">
            <h3 class="training-schedule-top">1-7 APRIL, 2019</h3>
            <div class="training-schedule-table">
                <table>
                    <thead>
                    <th></th>
                    <th>monday</th>
                    <th>tuesday</th>
                    <th>wednesday</th>
                    <th>thursday</th>
                    <th>friday</th>
                    <th>saturday</th>
                    <th>sunday</th>
                    </thead>
                    <tbody>
                    <tr>
                        <!--key-->
                        <td>9-00</td>
                        <!--class infomation-->
                        <td>
                            <h4>body bulding</h4>
                            <div class="date">9-00 – 11:00</div>
                            <div class="name">Mark Klark</div>
                        </td>
                        <td></td>
                        <td></td>
                        <td>
                            <h4>boxing</h4>
                            <div class="date">9-00 – 11:00</div>
                            <div class="name">Mark Klark</div>
                        </td>
                        <td></td>
                        <td></td>
                        <td>
                            <h4>boxing</h4>
                            <div class="date">9-00 – 11:00</div>
                            <div class="name">Mark Klark</div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>