<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
<a href="#" class="btn btn-sidebar"><span>Widgets</span></a>

<ul class="widgets">
    <!--=========== WIDGET-SEARCH ===========-->
    <li class="widget widget-search">
        <h3 class="title">Search</h3>
        <form class="search-form" th:action="@{/blog}" method="get" >
            <input th:value="${keyword}" class="inp-form" type="text" name="keyword" placeholder="Search">
            <button type="submit" class="btn-form"><i class="fa fa-search" aria-hidden="true"></i>
            </button>
        </form>
        <div>

        </div>
    </li>
    <!--========= WIDGET-SEARCH END =========-->
    <!--=========== WIDGET-ARHIVE ===========-->
    <!--========= WIDGET-ARHIVE END =========-->
    <!--========= WIDGET-CATEGORIES =========-->
    <li class="widget widget-categories">
        <h3 class="title">Categories</h3>
        <ul th:each="s: ${catelist}" >
            <li><a href="#" th:text="${s.name} "></a></li>
        </ul>
    </li>
    <!--======= WIDGET-CATEGORIES END =======-->
    <!--======== WIDGET-RECENT-POSTS ========-->
    <li class="widget widget-recent-posts">
        <h3 class="title">Recent Blog Posts</h3>
        <ul th:each="blogNew:${listNewestBlog}">
            <li>
                <a href="#" th:text="${blogNew.title}"></a>
                <div class="date" th:text="${#dates.format(blogNew.date, 'dd-MM-yyyy')}"><i class="fa fa-calendar" aria-hidden="true"></i>
                </div>
            </li>
        </ul>
    </li>
    <!--====== WIDGET-RECENT-POSTS END ======-->
    <!--========== WIDGET-INSTAGRAM ==========-->
    <li class="widget widget-instagram">
        <h3 class="title">Instagram</h3>
        <ul>
            <li>
                <a href="#"><img th:src="@{/img/insta-widget-1.jpg}" alt="img"></a>
            </li>
            <li>
                <a href="#"><img th:src="@{/img/insta-widget-2.jpg}" alt="img"></a>
            </li>
            <li>
                <a href="#"><img th:src="@{/img/insta-widget-3.jpg}" alt="img"></a>
            </li>
            <li>
                <a href="#"><img th:src="@{/img/insta-widget-4.jpg}" alt="img"></a>
            </li>
            <li>
                <a href="#"><img th:src="@{/img/insta-widget-5.jpg}" alt="img"></a>
            </li>
            <li>
                <a href="#"><img th:src="@{/img/insta-widget-6.jpg}" alt="img"></a>
            </li>
        </ul>
    </li>
    <!--======== WIDGET-INSTAGRAM END ========-->
    <!--========== WIDGET-NEWSLETTER ==========-->
    <li class="widget widget-newsletter">
        <h3 class="title">newsletter</h3>
    </li>
    <!--======== WIDGET-NEWSLETTER END ========-->
</ul>
</body>
</html>