<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <title>Fitmax</title>
  <!-- =================== META =================== -->
  <meta name="keywords" content="">
  <meta name="description" content="">
  <meta name="format-detection" content="telephone=no">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <th:block th:replace="fragments/head :: head"></th:block>

</head>
<body>
<!--================ PRELOADER ================-->
<div class="preloader-cover">
  <div id="cube-loader">
    <div class="caption">
      <div class="cube-loader">
        <div class="cube loader-1"></div>
        <div class="cube loader-2"></div>
        <div class="cube loader-4"></div>
        <div class="cube loader-3"></div>
      </div>
    </div>
  </div>
</div>
<!--============== PRELOADER END ==============-->

<!-- ================= HEADER ================= -->

<div th:include="fragments/header.html"></div>
<!-- =============== HEADER END =============== -->
<section class="s-club-cards">
  <div class="container">
    <h2 class="title-decor">Classes <span>List</span></h2>
    <p class="slogan">Below is a list of packages for free trainees. People can search by city, package name,
      price... Details are in each package.</p>
    <form id="searchAndFilterClass" th:action="@{/service/classes}" method="get">
      <div>
        City: <select th:name="city" style="width:30%" onchange="submitFormClass()">
        <option>All</option>
        <th:block th:each="city : ${cityList}">
          <option th:value="${city.name}" th:text="${city.name}"
                  th:selected="${city.name == currentCity}"></option>
        </th:block>
      </select>
      </div>
      <div>&nbsp</div>
      <div>
        Studio: <select th:name="studio" style="width:30%" onchange="submitFormClass()">
        <option>All</option>
        <th:block th:each="studio : ${studioList}">
          <option th:value="${studio.id}" th:text="${studio.name}"
                  th:selected="${currentStudio.equals('' +currentStudio)}"></option>
        </th:block>
      </select>
      </div>
      <div>&nbsp</div>
      <div>
        Category: <select th:name="category" style="width:30%" onchange="submitFormClass()">
        <option th:value="0">All</option>
        <th:block th:each="category : ${categoryList}">
          <option th:value="${category.id}" th:text="${category.name}"
                  th:selected="${currentCategory.equals(''  +category.id)}"></option>
        </th:block>
      </select>
      </div>
      <div>&nbsp</div>
      <div>
        Filter: <input type="text" th:name="keyword" style="color:red" th:value="${currentKeyword}"/>
        &nbsp
        <input id="btn-submit" type="submit" value="Search"/>
        &nbsp
      </div>
    </form>
    <div id="carousel-package" class="carousel slide">
      <div th:if="${size} == 0">
        <h2>There are no packages available at the moment. Please contact us via email or our hotline for more
          information.</h2>
      </div>
      <div class="carousel-inner overflow-visible row">
        <th:block th:each="item,iter : ${classes}">
          <div class="carousel-item col-12 p-2" th:classappend="${iter.index == 0} ? active : '' ">
            <div class="row">
              <th:block th:each="class : ${item.value}">
                <div class="col-md-4 club-card-col">
                  <div class="club-card-item"
                       th:style="'background-image: url(' + ${class.servicesImage} + ');'">
                    <div class="price-cover">
                      <div class="price" th:text="${class.servicesPrice}">price</div>
                      <div class="date"><span th:text="${class.servicesDuration}"></span>months</div>
                    </div>
                    <ul class="list">
                      <li></li>
                      <li></li>
                      <li></li>
                      <li th:text="${class.servicesName}" style="color:yellow"></li>
                      <li></li>
                      <li></li>
                      <li></li>
                    </ul>
                    <a th:href="@{'/service/packages/package-detail/' + ${class.id}}" class="btn">order
                      now</a>
                  </div>
                </div>
              </th:block>
            </div>
          </div>
        </th:block>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carousel-package" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carousel-package" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
    <style>
      .carousel-control-prev {
        left: -13rem;
      }

      .carousel-control-next {
        right: -13rem;
      }
    </style>
  </div>
</section>
<script type="text/javascript" src="slick/slick.min.js"></script>
<div th:include="fragments/footer.html"></div>
<!-- ================ FOOTER END ================ -->

<!--=================== TO TOP ===================-->
<a class="to-top" href="#home">
  <i class="fa fa-chevron-up" aria-hidden="true"></i>
</a>
<!--================= TO TOP END =================-->

<!--=================== SCRIPT	===================-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
        crossorigin="anonymous"></script>
<script th:src="@{/js/slick.min.js}"></script>
<script th:src="@{/js/rx-lazy.js}"></script>
<script th:src="@{/js/parallax.min.js}"></script>
<script th:src="@{/js/scripts.js}"></script>
<script type="text/javascript">
  function submitFormClass() {
    document.getElementById("searchAndFilterClass").submit();
  }
</script>
</body>
</html>