<!DOCTYPE html>
<html lang="en">
<body>
<section class="s-training-schedule p-0 pb-5"
         style="background-image: url(assets/img/bg-table-1.svg);">
    <div class="container">
        <div class="training-schedule-cover">
            <div class="training-schedule-table">
                <table id="registration-table" class="table table-bordered table-hover">
                    <thead>
                    <th>#</th>
                    <th>Service Name</th>
                    <th>Registration Date</th>
                    <th>Status</th>
                    </thead>
                    <tbody>
                    <!--                    <th:block th:each="registration : ${registrations}">-->
                    <!--                        <tr>-->
                    <!--                            <td th:text="${registration.id}">9-00</td>-->
                    <!--                            <td>-->
                    <!--                                <h4>-->
                    <!--                                    <a href="" th:text="${registration.servicesName}"></a>-->
                    <!--                                </h4>-->
                    <!--                            </td>-->
                    <!--                            <td>-->
                    <!--                                <div class="date" th:text="${registration.date}">9-00 – 11:00</div>-->
                    <!--                            </td>-->
                    <!--                            <td>-->
                    <!--                                <div class="name text-light"-->
                    <!--                                     th:text="${registration.isStatus()?'Current':'Expired'}">Mark-->
                    <!--                                    Klark-->
                    <!--                                </div>-->
                    <!--                            </td>-->
                    <!--                        </tr>-->
                    <!--                    </th:block>-->


                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>
<script>
    $(document).ready(function () {
        $.ajax({
            url: `${origin_path}/registration/api/profile`,
            type: "GET",
            success: function (data) {
                console.log(data);
                const registrationTable = $('#registration-table');
                let body = `<thead>
                    <th>#</th>
                    <th>Service Name</th>
                    <th>Registration Date</th>
                    <th>Status</th>
                    <th>action</th>
                    </thead>
                    <tbody>`;
                data.forEach((registration, index) => {
                    body += `<tr>
                            <td>${registration.servicesId}</td>
                            <td>
                                <h4>
                                    <a href="${registration.path}">${registration.servicesName}</a>
                                </h4>
                            </td>
                            <td>
                                <div class="date">${registration.date.slice(0, 10)}</div>
                            </td>
                            <td>
                                <div class="name text-light">
                                    ${registration.status ? 'Current' : 'Expired'}
                                </div>
                            </td>
                            <td>
                               <!-- Button trigger modal -->
                            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#${registration.servicesId}staticBackdrop">
                              view
                            </button>

                            <!-- Modal -->
                            <div class="modal fade" id="${registration.servicesId}staticBackdrop"
                                data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
                                aria-labelledby="${registration.servicesId}staticBackdropLabel"
                                aria-hidden="true">
                              <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" style="max-width: 66rem; ">
                                <div class="modal-content h-100">
                                  <div class="modal-header">
                                    <h1 class="modal-title fs-5" id="${registration.servicesId}staticBackdropLabel">Your Registration: ${registration.servicesId}</h1>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                  </div>
                                  <div class="modal-body">

                                  </div>
                                  <div class="modal-footer">
                                    <button type="button" class="btn" data-bs-dismiss="modal">Close</button>
                                    <button type="button" class="btn">Understood</button>
                                  </div>
                                </div>
                              </div>
                            </div>
                            </td>
                        </tr>`;
                });
                body += `</tbody>`;
                registrationTable.html(body);
            }
        });
    });
</script>
</body>
</html>