<html xmlns:th="http://www.thymeleaf.org">
<head>

    <!-- META ============================================= -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="keywords" content="" />
    <meta name="author" content="" />
    <meta name="robots" content="" />

    <!-- DESCRIPTION -->

    <!-- OG -->
    <meta property="og:image" content="" />
    <meta name="format-detection" content="telephone=no">

    <!-- FAVICONS ICON ============================================= -->
<!--    <link rel="icon" href="../error-404.html" type="image/x-icon" />-->
<!--    <link rel="shortcut icon" type="image/x-icon" th:href="@{admin/images/favicon.png}" />-->

    <!-- PAGE TITLE HERE ============================================= -->
    <!-- MOBILE SPECIFIC ============================================= -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!--[if lt IE 9]>
    <script th:src="@{admin/js/html5shiv.min.js}"></script>
    <script th:src="@{admin/js/respond.min.js}"></script>
    <![endif]-->

    <!-- All PLUGINS CSS ============================================= -->
    <link rel="stylesheet" type="text/css" th:href="@{admin/css/assets.css}">
    <link rel="stylesheet" type="text/css" th:href="@{admin/vendors/calendar/fullcalendar.css}">

    <!-- TYPOGRAPHY ============================================= -->
    <link rel="stylesheet" type="text/css" th:href="@{admin/css/typography.css}">

    <!-- SHORTCODES ============================================= -->
    <link rel="stylesheet" type="text/css" th:href="@{admin/css/shortcodes/shortcodes.css}">

    <!-- STYLESHEETS ============================================= -->
    <link rel="stylesheet" type="text/css" th:href="@{admin/css/style.css}">
    <link rel="stylesheet" type="text/css" th:href="@{admin/css/dashboard.css}">
    <link class="skin" rel="stylesheet" type="text/css" th:href="@{admin/css/color/color-1.css}">
    <script th:src="@{/js/jquery-2.2.4.min.js}"></script>
</head>