<html xmlns:th="http://www.thymeleaf.org">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<div class="ttr-sidebar">
    <div class="ttr-sidebar-wrapper content-scroll">
        <!-- side menu logo start -->
        <!-- side menu logo end -->
        <!-- sidebar menu start -->
        <nav class="ttr-sidebar-navi">
            <ul>
                <li>
                    <a href="/dashboard" class="ttr-material-button">
                        <span class="ttr-icon"><i class="ti-home"></i></span>
                        <span class="ttr-label">Dashboard</span>
                    </a>
                </li>
                <li>
                    <a href="/service/management/packages" class="ttr-material-button">
                        <span class="ttr-icon"><i class="ti-book"></i></span>
                        <span class="ttr-label">Package</span>
                    </a>
                </li>
                <li>
                    <a href="/service/class/management/classes" class="ttr-material-button">
                        <span class="ttr-icon"><i class="ti-credit-card"></i></span>
                        <span class="ttr-label">Class</span>
                    </a>
                </li>
                <li sec:authorize="hasAnyAuthority('ROLE01')">
                    <a class="ttr-material-button" href="/studio/management/studios">
                        <span class="ttr-icon"><i class="ti-calendar"></i></span>
                        <span class="ttr-label">Studio</span>
                    </a>
                </li>
                <li>
                    <a class="ttr-material-button" href="/user/management/listuserchangest">
                        <span class="ttr-icon"><i class="ti-check"></i></span>
                        <span class="ttr-label">Switch Studio</span>
                    </a>
                </li>
                <li>
                    <a class="ttr-material-button" href="/user/management/listusers">
                        <span class="ttr-icon"><i class="ti-user"></i></span>
                        <span class="ttr-label">User</span>
                    </a>
                </li>
                <li>
                    <a class="ttr-material-button" href="/registration/management/registrations">
                        <span class="ttr-icon"><i class="ti-bookmark-alt"></i></span>
                        <span class="ttr-label">Registration</span>
                    </a>
                </li>
                <li>
                    <a class="ttr-material-button" href="/blog/management">
                        <span class="ttr-icon"><i class="ti-layout-accordion-list"></i></span>
                        <span class="ttr-label">Blog</span>
                    </a>
                </li>
                <li sec:authorize="hasAnyAuthority('ROLE01')" >
                    <a  class="ttr-material-button" href="/slider/management">
                        <span class="ttr-icon"><i class="ti-layout-accordion-list"></i></span>
                        <span class="ttr-label">Slider</span>
                    </a>
                </li>
                <li>
                    <a href="add-listing.html" class="ttr-material-button">
                        <span class="ttr-icon"><i class="ti-settings"></i></span>
                        <span class="ttr-label">Setting</span>
                        <span class="ttr-arrow-icon"><i class="fa fa-angle-down"></i></span>
                    </a>
                    <ul>
                        <li>
                            <a th:href="@{/setting/management/city}" class="ttr-material-button"><span class="ttr-label">City/District</span></a>
                        </li>
                        <li>
                            <a th:href="@{/setting/management/category}" class="ttr-material-button"><span class="ttr-label">Category</span></a>
                        </li>
                    </ul>
                </li>
                <li class="ttr-seperate"></li>
            </ul>
            <!-- sidebar menu end -->
        </nav>
        <!-- sidebar menu end -->
    </div>
</div>