<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Fitmax</title>
  <!-- =================== META =================== -->
  <meta name="keywords" content="">
  <meta name="description" content="">
  <meta name="format-detection" content="telephone=no">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <th:block th:replace="fragments/head :: head"></th:block>

</head>
<th:block th:insert="fragments/header.html"></th:block>
<body>
<section class="s-out-trainer" style="background-image: url(/img/bg-contacts.svg);">
  <div class="container">
    <h2 class="title-decor">Our <span>Trainer</span></h2>
    <p class="slogan">
      Working out with a personal trainer is the fastest and most effective way for you to achieve your health and fitness goals. We design programs to suit the most common needs of our members, and we also create personalized workouts to suit each person's fitness and needs.</p>
    <div>
      <form class="row" id="searchFilter" th:action="@{/user/listpt}" method="get">
        <div class="input-group mb-3 col-3">
          <label class="input-group-text" for="inputGroupSelectCity">City</label>
          <select class="form-select" id="inputGroupSelectCity" name="cityName" onchange="submitForm()">
            <option>All</option>
            <th:block th:each="city : ${listCity}">
              <option th:value="${city.name}" th:text="${city.name}"
                      th:selected="${city.name == currentCity}"></option>
            </th:block>
          </select>
        </div>
        <div class="input-group mb-3 col-3">
          <label class="input-group-text" for="inputGroupSelectStudio">City</label>
          <select class="form-select" id="inputGroupSelectStudio" name="studioId" onchange="submitForm()">
            <option>All</option>
            <th:block th:each="studio : ${listStudio}">
              <option th:value="${studio.id}" th:text="${studio.name}"
                      th:selected="${studio.id == currentStudio}"></option>
            </th:block>
          </select>
        </div>
      </form>
    </div>

    <div>&nbsp</div>

    <div class="row">

      <div id="carousel-package" class="carousel slide">
        <div th:if="${size} == 0">
          <h2>There are no packages available at the moment. Please contact us via email or our hotline for more
            information.</h2>
        </div>
        <div class="carousel-inner overflow-visible row">
          <th:block th:each="item,iter : ${list}">
            <div class="carousel-item col-12 p-2" th:classappend="${iter.index == 0} ? active : '' ">
              <div class="row">
                <th:block th:each="trainer: ${item.value}">
                  <div class="col-md-6 out-trainer-col">
                    <div class="out-trainer-item">
                      <a th:href="@{/user/ptdetail/{email}(email=${trainer.email})}" class="out-trainer-img"><img th:src="${trainer.userAvatar}" /></a>
                      <div class="out-trainer-info">
                        <h3><a th:href="@{/user/ptdetail/{email}(email=${trainer.email})}" th:text="${trainer.userFirstName}+' '+${trainer.userLastName}"></a></h3>
                        <div class="prof">Weightlifting</div>
                        <p th:text= "${trainer.philosophy}+' '+${trainer.achievement}"></p>


<!--                        <a th:href="@{/user/ptdetail/{email}(email=${trainer.email})}" class="btn">View</a>-->

                      </div>
                    </div>
                  </div>
                </th:block>
              </div>
            </div>
          </th:block>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carousel-package" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carousel-package" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>

    </div>

  </div>
  </div>
  <style>
    .carousel-control-prev {
      left: -13rem;
    }

    .carousel-control-next {
      right: -13rem;
    }
  </style>
  </div>
  <script type="text/javascript">
    function submitForm() {
      document.getElementById("searchFilter").submit();
    }
    function submitForm1() {
      document.getElementById("pt_details").submit();
    }
  </script>
</section>
<script type="text/javascript" src="slick/slick.min.js"></script>
<div th:include="fragments/footer.html"></div>
<!-- ================ FOOTER END ================ -->

<!--=================== TO TOP ===================-->
<a class="to-top" href="#home">
  <i class="fa fa-chevron-up" aria-hidden="true"></i>
</a>
<!--================= TO TOP END =================-->

<!--=================== SCRIPT	===================-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
        crossorigin="anonymous"></script>
<script th:src="@{/js/slick.min.js}"></script>
<script th:src="@{/js/rx-lazy.js}"></script>
<script th:src="@{/js/parallax.min.js}"></script>
<script th:src="@{/js/scripts.js}"></script>
</body>