<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Fitmax</title>
    <!-- =================== META =================== -->
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="format-detection" content="telephone=no">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <th:block th:insert="~{fragments/head::link}"></th:block>
    <script th:src="@{../../js/jquery-2.2.4.min.js}"></script>
</head>

<body id="home">
<!--================ PRELOADER ================-->
<div class="preloader-cover">
    <div id="cube-loader">
        <div class="caption">
            <div class="cube-loader">
                <div class="cube loader-1"></div>
                <div class="cube loader-2"></div>
                <div class="cube loader-4"></div>
                <div class="cube loader-3"></div>
            </div>
        </div>
    </div>
</div>
<!--============== PRELOADER END ==============-->

<!-- ================= HEADER ================= -->

<div th:include="fragments/header.html"></div>

<section class="s-related-posts home-related-posts">
    <div class="container">
        <h2 class="title-decor" th:object="${studio}"><span th:text="${studio.name}"></span></h2>
        <p class="slogan">Fitmax's mission is to bring the right awareness to the community in physical training to have great health and spirit, always firmly overcome all challenges in life.</p>

    </div>
</section>
<!--============== RELATED POSTS END ==============-->


<!-- ========= S-TRAINING-SCHEDULE END ========= -->

<!-- ================== FOOTER ================== -->
<th:block th:insert="/fragments/home_program"></th:block>
<!-- ================== FOOTER ================== -->

<!-- ================== FOOTER ================== -->

<div th:include="fragments/footer.html"></div>
<!-- ================ FOOTER END ================ -->

<!--=================== TO TOP ===================-->
<a class="to-top" href="#home">
    <i class="fa fa-chevron-up" aria-hidden="true"></i>
</a>
<!--================= TO TOP END =================-->

<!--=================== SCRIPT	===================-->

<script th:src="@{/js/slick.min.js}"></script>
<script th:src="@{/js/rx-lazy.js}"></script>
<script th:src="@{/js/parallax.min.js}"></script>
<script th:src="@{/js/scripts.js}"></script>

</body>

</html>