<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Fitmax</title>
    <!-- =================== META =================== -->
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="format-detection" content="telephone=no">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <th:block th:insert="~{fragments/head::link}"></th:block>
    <script th:src="@{../../js/jquery-2.2.4.min.js}"></script>
</head>

<body id="home">
<!--================ PRELOADER ================-->
<div class="preloader-cover">
    <div id="cube-loader">
        <div class="caption">
            <div class="cube-loader">
                <div class="cube loader-1"></div>
                <div class="cube loader-2"></div>
                <div class="cube loader-4"></div>
                <div class="cube loader-3"></div>
            </div>
        </div>
    </div>
</div>
<!--============== PRELOADER END ==============-->

<!-- ================= HEADER ================= -->

<div th:include="fragments/header.html"></div>

<section class="s-related-posts home-related-posts">
    <div class="container">
        <h2 class="title-decor" th:object="${studios}"><span  th:text="${studios.name}"></span></h2>
        <p class="slogan">Fitmax's mission is to bring the right awareness to the community in physical training to have great health and spirit, always firmly overcome all challenges in life.</p>

    </div>
</section>
<!--============== RELATED POSTS END ==============-->


<!-- ========= S-TRAINING-SCHEDULE END ========= -->

<!-- ================== FOOTER ================== -->
<section class="s-our-trainer">
    <div class="container">
        <img class="about-effect-tringle" th:src="@{/img/tringle-about-top.svg}" alt="img">
        <h2 class="title-decor">Our <span>Trainer</span></h2>
        <p class="slogan">Maecenas consequat ex id lobortis venenatis. Mauris id erat enim. Morbi dolor dolor, auctor tincidunt lorem ut, venenatis dapibus miq.</p>
        <div class="row our-trainer-row">
            <div class="col-md-5 trainer-img-col">
                <div class="trainer-img-cover">
                    <img class="our-trainer-effect-1" th:src="@{/img/line-red-1.svg}" alt="img">
                    <img class="our-trainer-effect-2" th:src="@{/img/line-red-2.svg}" alt="img">
                    <img class="our-trainer-effect-3" th:src="@{/img/square-yellow.svg}" alt="img">
                    <img  class="our-trainer-img" th:src="${managerStudio.avatar}" alt="img">
                </div>
            </div>
            <div class="col-md-7">
                <div class="our-trainer-info">
                    <h3 class="name" th:text="${managerStudio.getLastName()+''+managerStudio.getFirstName()}"></h3>
                    <div class="prof">Studio Manager</div>
                    <p >Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco</p>
                    <ul class="social-list">
                        <li><a target="_blank" href="https://www.facebook.com/rovadex"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                        <li><a target="_blank" href="https://twitter.com/RovadexStudio"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                        <li><a target="_blank" href="https://www.youtube.com/"><i class="fa fa-youtube" aria-hidden="true"></i></a></li>
                        <li><a target="_blank" href="https://www.instagram.com/rovadex"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="s-our-programs" style="background-image: url(/img/bg-programs.jpg);">
    <div class="mask"></div>
    <div class="our-programs-effect" style="background-image: url(/img/bg-programs.svg);"></div>
    <div class="container">
        <h2 class="title-decor">Our <span>Service</span></h2>
        <p class="slogan" style="font-size: 20px">Here are the services that our system provides for you.
            Including Packages for individuals who want to practice freely.
            Personal Training is a list of trainers that trainees can book to practice 1-1 with a training and nutrition regimen that really suits your body conditions.
            Finally, Classes like Yoga, KickBoxing, Cycling... help you approach new subjects professionally.</p>
        <form id="searchAndFilter" th:object="${studios}" th:action="@{/studio/studio-details/{id} (id=${studios.id})}" method="get">
            <div >
                <div>
                    Category:<br> <select th:name="category" style="width:30%" onchange="submitForm()">
                    <option th:value="0" th:text="All">0</option>
                    <th:block th:each="category : ${categoryList}">
                        <option th:value="${category.id}" th:text="${category.name}"
                                th:selected="${currentCategory.equals(category.id)}"></option>
                    </th:block>
                </select>
                </div>
            </div>
        </form>
        <div id="carousel-package" class="carousel slide">
            <div th:if="${size} == 0">
                <h2>There are no packages available at the moment. </h2>
            </div>
            <div class="carousel-inner overflow-visible row">
                <th:block th:each="item,iter : ${listServiceOfStudio}">
                    <div class="carousel-item col-12 p-2" th:classappend="${iter.index == 0} ? active : '' ">
                        <div class="row">
                            <th:block th:each="list : ${item.value}">
                                <div class="col-md-4 club-card-col">
                                    <div class="club-card-item"
                                         th:style="'background-image: url(' + ${list.image} + ');'">
                                        <div class="price-cover">
                                            <div class="price" th:text="${list.price}">price</div>
                                            <div class="date"><span th:text="${list.duration}"></span>months</div>
                                        </div>
                                        <ul class="list">
                                            <li></li>
                                            <li></li>
                                            <li></li>
                                            <li th:text="${list.name}" style="color:yellow"></li>
                                            <li></li>
                                            <li></li>
                                            <li></li>
                                        </ul>
                                        <a th:href="@{'/service/packages/package-detail/' + ${list.id}}" class="btn">order
                                            now</a>
                                    </div>
                                </div>
                            </th:block>
                        </div>
                    </div>
                </th:block>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carousel-package" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carousel-package" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
        <style>
            .carousel-control-prev {
                left: -13rem;
            }

            .carousel-control-next {
                right: -13rem;
            }
        </style>
    </div>
</div>
<!-- ================== FOOTER ================== -->

<!-- ================== FOOTER ================== -->

<div th:include="fragments/footer.html"></div>
<!-- ================ FOOTER END ================ -->

<!--=================== TO TOP ===================-->
<a class="to-top" href="#home">
    <i class="fa fa-chevron-up" aria-hidden="true"></i>
</a>
<!--================= TO TOP END =================-->

<!--=================== SCRIPT	===================-->

<script th:src="@{/js/slick.min.js}"></script>
<script th:src="@{/js/rx-lazy.js}"></script>
<script th:src="@{/js/parallax.min.js}"></script>
<script th:src="@{/js/scripts.js}"></script>
<script type="text/javascript">
    function submitForm() {
        document.getElementById("searchAndFilter").submit();
    }
</script>
</body>

</html>