<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Verify Code Registration</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" th:href="@{/css/stylelogin.css}">
  <link rel="stylesheet" th:href="@{/css/style.css}">
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <!-- jQuery Validation Plugin -->
  <script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/jquery.validate.min.js"></script>
  <style>
    label.error {
      color: red;
    }
  </style>
</head>

<body class="img js-fullheight" th:style="'background: url(/img/bg-2.jpg)'">
<section class="ftco-section">
  <div class="container">
    <div class="row justify-content-center">
    </div>
    <div class="row justify-content-center">
      <div class="col-md-6 col-lg-4">
        <div class="login-wrap p-0">
          <h4 style="color: green">An Code has been sent to your email  <span th:text="${email}"></span>. </h4>
          <h4 style="color: green">Confirm your enroll service . </h4>
          <br>
          <h4 th:text="${error}"></h4>
          <form  method="post" id="form-code" th:action="@{/registration/enrolled}" class="signin-form">
            <div class="form-group">
              <input type="text" class="form-control"  id="otp" name="otp" placeholder="Enter Code Here"
                     required>
            </div>
            <input type="hidden" name="email" th:value="${email}" >
            <input type="hidden" name="idP"  th:value="${idP}">
            <div class="form-group">
              <button type="submit" class="form-control btn btn-primary submit px-3">Submit</button>
            </div>
          </form>


        </div>
      </div>
    </div>
  </div>
</section>
<script>

  $(document).ready(function () {
    $("#form-code").validate({
      // Specify validation rules
      rules: {
        otp: {
          required: true,
        },
      },

      // Specify validation error messages
      messages: {
        otp: {
          required: "Please provide a Otp",
        },
      },
      // Submit form if validation passes
      submitHandler: function (form) {
        form.submit();
      }
    });
  });

</script>

</body>
</html>