<html xmlns:th="http://www.thymeleaf.org">

<section id="training-schedule" class="s-training-schedule" style="background-image: url(/static/img/bg-table-1.svg);">
    <div class="container">
        <h2 class="title-decor">Training <span>Schedule</span></h2>
        <p class="slogan">Maecenas consequat ex id lobortis venenatis. Mauris id erat enim. Morbi dolor dolor, auctor
            tincidunt lorem ut, venenatis dapibus miq.</p>
        <nav class="nav-menu">
            <ul class="nav-list my-4">
                <li class="dropdown">
                    <a href="">Select Class <i class="fa fa-caret-down"></i></a>
                    <ul id="list-class">
                        <!--                        this is list class-->
                    </ul>
                </li>
                <li>
                    <a class="fs-3" id="class-name">Current class name</a>
                </li>
            </ul>
        </nav>

        <div class="training-schedule-cover">
            <h3 class="training-schedule-top">1-7 APRIL, 2019</h3>
            <div class="training-schedule-table">
                <table>
                    <thead>
                    <th></th>
                    <th>monday</th>
                    <th>tuesday</th>
                    <th>wednesday</th>
                    <th>thursday</th>
                    <th>friday</th>
                    <th>saturday</th>
                    <th>sunday</th>
                    </thead>
                    <tbody id="schedule-body">

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
        crossorigin="anonymous"></script>
<script>
    $(window).on("load", (event) => {
        fetchingClass();
    })

    const fetchingScheduleByClassId = (id) => {
        $(`#training-schedule #list-class`).children().removeClass("menu-active");
        $(`#training-schedule #list-class #${id}`).addClass("menu-active");
        $.get(`http://localhost:8080/api/v1/schedule/${id}`, function (data) {
            const classInformation = data;
            const scheduleInformation = data.scheduleDTO;
            $('#class-name').html(classInformation.name);

            console.log(scheduleInformation);
            let body = "";
            $("#schedule-body").html("");
            scheduleInformation.forEach(schedule => {
                $("#schedule-body").append(`<tr id="slot-${schedule.id}">
                                                 <td>${schedule.startTime}</td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                            </tr>`);
                console.log($(`#schedule-body > tr`).eq(schedule.id));
                schedule.sessionDTOs.forEach(session => {
                    $(`#slot-${schedule.id} > td`).eq(session.weekDay).html("something").html(
                        `   <h4>${classInformation.name}</h4>
                            <div class="date">${schedule.startTime} – ${schedule.endTime}</div>
                            <div class="name">Session Id: ${session.id}</div>`)

                })
            })


        })
            .fail(function (data) {
                console.log("lỗi quá!")
            })
    }

    const fetchingClass = () => {
        $.get("http://localhost:8080/api/v1/schedule/list-class", (data) => {
            data.forEach(c => {
                $("#training-schedule #list-class")
                    .append(`<li id="${c.id}">
                                <div class="container-fluid p-0 m-0">
                                    <a class="navbar-brand px-2 py-3" onclick="fetchingScheduleByClassId(${c.id})">
                                      <img src="/img/programs-3.jpg" alt="Logo" width="40" height="40" class="d-block align-text-top rounded">
                                         <p class="d-block w-100 text-center"> ${c.name}</p>
                                    </a>
                                  </div>
                                </li>`)
            })
        })
    }

</script>