.header-right {
  width: calc(50% - 15px);
  display: flex;
  align-items: center;
  justify-content: flex-end;
  .search-field {
    padding-right: 0;
    padding-left: 10px;
    width: 60px;
    height: 40px;
    border: none;
    border-bottom: 1px solid var(--primary);
    background-color: transparent;
    border-color: transparent;
    font-family: "Righteous";
    color: var(--white);
    transition: 0.4s ease;
    position: absolute;
    z-index: 1;
    right: 40px;
    font-size: 12px;
    background-color: var(--background-color);
    &:focus-within {
      width: 270px;
      border-color: transparent;
      border-bottom-color: var(--primary);
    }
  }
  .search-submit {
    padding: 5px;
    font-size: 14px;
    width: 40px;
    height: 40px;
    background-color: transparent;
    color: var(--primary);
    position: relative;
    z-index: 2;
    border: none;
    &:hover {
      background-color: var(--primary);
      color: var(--white);
    }
  }
  .search-form {
    margin-right: 38px;
    position: relative;
    display: flex;
    justify-content: flex-end;
  }
  .social-list {
    display: flex;
    align-items: center;
    li {
      margin-right: 13px;
    }
    li:last-child {
      margin-right: 0;
    }
    a {
      display: block;
      text-align: center;
      color: #919191;
      font-size: 18px;
      &:hover {
        color: var(--primary);
      }
    }
  }
}
